.main {
    min-width: 300px;
    background-color: var(--background-color);
    padding: var(--spacing-12);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

.side-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: calc(var(--spacing-8) + 1px);
}

.theme-icon {
    color: var(--text-color);
}

.side-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.side-card-text {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
